@import url(https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap);

body {
  display: flex;
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
}

.sidebar {
  width: 45vh;
  background-color: #4A67F0;
  padding: 20px;
  margin-left: auto; 
  border-radius: 16px;
}

.title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 40px;
}

.menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.dropdown-content {
  display: none;
  padding: 10px;
  align-items: center;
}

.dropdown-content p {
  margin: 0;
  color: #FFFFFF;
  transition: display 3s ease-in-out;
}

.dropdown-btn.active + .dropdown-content {
  display: block;
}

.dropdown-btn {
  background-color: #4A67F0;
  color: #FFFFFF;
  border: none;
  padding: 10px;
  margin-bottom: 5px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: large;
}

.dropdown-btn svg {
  margin-right: 10px;
  fill: #FFFFFF;
  flex-shrink: 0; 
}

hr{
  width: 45vh;
}

.contato {
  color: #FFFFFF;
  text-align: center;
}