header{
    padding-top: 1%;
    width: 100%;
    background-color: red;
    background: url("./../assets/home_background_header.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(23,25,25,0.2);
    -moz-box-shadow: 0px 5px 5px 0px rgba(23,25,25,0.2);
    box-shadow: 0px 5px 5px 0px rgba(23,25,25,0.2);
}

p{
    line-height: 2.7rem;
}

.topo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    box-sizing: border-box;
}

header .topo .logo{
    width: 9%;
}

header .topo .logo img {
    width: 100%;
}

header 
    .abreajuda{
    background-color: #52B7E3;
    border-radius: 50%;
    width: 4%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    font-size: 1.6rem;
    margin-left: 0.5%;
    border: 0rem;
}

nav{
    width: 100%;
}

nav ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    padding: 20px;
}

nav ul li a:hover{
    text-decoration: underline
}

#menu-hamburger{
    display: none;
}

header .topo .icone-logout{
    cursor: pointer;
}

header .topo .icone-logout img{
    width: 80%;
}

header .headline{
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vw;
}

header .headline h1{
    width: 60%;
}

main{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #171919;
}

.apresentacao{
    padding: 5% 0;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.apresentacao .lado-esquerdo, .apresentacao .lado-direito{
    width: 50%;
}

.apresentacao .lado-esquerdo .logo, .apresentacao .lado-direito .img{
    width: 100%;
}

.apresentacao .lado-esquerdo p{
    width: 80%;
    font-weight: 500;
    font-size: 1.8rem;
}

.apresentacao .lado-esquerdo p span{
    color: #4D99FA;
}


.apresentacao .lado-esquerdo .logo{
    height: auto;
}

.apresentacao .lado-esquerdo .logo img{
    width: 60%;
    margin-bottom: 15%;
}

.apresentacao .lado-direito .imagem{
    display: flex;
    justify-content: flex-end;
}

.apresentacao .lado-direito .imagem img{
    width: 80%;
}

.o-que-nos-oferecemos{
    width: 90%;
    margin-bottom: 5%;
}

.o-que-nos-oferecemos h2, .compare-viagens h2, .entre-em-contato h2{
    text-align: center;
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 5%;
    width: 100%;
}

.o-que-nos-oferecemos h2 span, .compare-viagens h2 span, .entre-em-contato h2 span{
    color: #4D99FA;
}

.servicos{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.servico{
    width: 33.3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.servico span{
    margin-top: 3%;
    color: #4D99FA;
    font-size: 2rem;
    font-weight: 600;
}

.servico .imagem{
    width: 100%;
}

.servico .imagem img{
    width: 100%;
}

.o-que-nos-oferecemos .informacoes{
    margin-top: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.o-que-nos-oferecemos .informacoes p, .compare-viagens p{
    width: 60%;
    font-size: 1.8rem
}

.o-que-nos-oferecemos .informacoes a{
    width: 30%;
    text-align: end;
}

.o-que-nos-oferecemos .informacoes a button{
    width: 80%;
}

.btnpagina{
    background: #4A67F0;    
    border-radius: 16px;
    width: 26.8%;
    height: 50px;
    color: white;
    font-weight: 600;
    border: 0;
}


button:hover{
    background-color: #4AF0C7;
}

.compare-viagens{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.compare-viagens .informacoes p{
    margin-bottom: 5%;
}

.entre-em-contato{
    margin-top: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.entre-em-contato .lado-esquerdo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.entre-em-contato .lado-esquerdo .imagem{
    width: 100%;
    text-align: center;
}

.entre-em-contato .lado-esquerdo .imagem img{
    width: 80%;
}

.entre-em-contato .lado-direito{
    width: 50%;
}

form{
    width: 100%;
    background-color: #4A67F0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5% 0;
    border-radius: 16px;
}

form input, form textarea{
    width:80%;
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    height: 50px;
    border-bottom: 1px solid #FFFFFF;
    padding-left: 10px;
    margin-bottom: 10px;
}

form input:focus, form textarea:focus{
    outline: none;
}

form input::placeholder, form textarea::placeholder{
    font-weight: 400;
    color: #FFFFFF;
    font-size: 1rem;
}

form input[type="submit"]{
    margin-top: 30px;
    background-color: #FFF;
    color: #4A67F0;
    font-weight: 600;
    width: 30%;
    border: 0;
    border-radius: 16px;
    font-size: 1rem;
}

form input[type="submit"]:hover{
    background-color: #4AF0C7;
    color: #FFF;
}

form textarea{
    height: 15vh;
    resize: none;
    overflow-y: auto;
}

footer{
    text-align: center;
    margin: 5% 0 2% 0;
    font-family: 'Poppis', sans-serif;
    font-weight: 600;
}

@import url(https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap);

#sidebar {
    position: absolute;
    top: 0;
    right: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #4A67F0;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    transition: all 3s; 
  }

.title {
  color: #FFFFFF;
  margin-bottom: 20px;
  text-align: center;
  font-size: 40px;
}

.menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
}

.dropdown-content {
  display: none;
  padding: 10px;
  align-items: center;
}

.dropdown-content p {
    font-size: 22px;
  margin: 0;
  color: #FFFFFF;
  text-align: center;
}

.dropdown-btn.active + .dropdown-content {
  display: block;
}

.dropdown-btn {
  background-color: #4A67F0;
  color: #FFFFFF;
  border: none;
  padding: 10px;
  margin-bottom: 5px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: large;
}

.dropdown-btn svg {
  margin-right: 10px;
  fill: #FFFFFF;
  flex-shrink: 0; 
}

hr{
    width: 14rem;
    border: 2px solid #FFFFFF;
    align-items: center;
    
}

.sairajuda {
    margin-left: 1rem;
    background-color: #4A67F0;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    font-size: 2rem;
  }
  
.contato{
    text-align: center;
    color: #FFFFFF;
}

.contato-link {
    text-align: center;
    color: #FFFFFF;
    margin-top: auto;
}
.contato_cursor{
    cursor: pointer;
}

@media only screen and (max-width: 620px) {
    header{
        background: url("./../assets/home_background_header_mobile.png");
        height: auto;
    }

    header .headline h1{
        font-size: 1.5rem;
    }

    header .topo nav{
        display: none;
    }

    main .apresentacao .lado-esquerdo{
        width: 90%;
    }

    main .apresentacao .lado-esquerdo p{
        text-align: center;
        width: 100%;
        font-size: 1.5rem;
    }

    .apresentacao .lado-esquerdo .logo{
        text-align: center;
    }

    main .apresentacao .lado-direito{
        display: none;
    }

    section{
        margin-bottom: 50px !important;
    }

    .servicos{
        justify-content: center;
        flex-wrap: wrap;
    }

    .servico{
        width: 90%;
    }

    .o-que-nos-oferecemos .informacoes{
        flex-wrap: wrap;
        justify-content: center;
    }

    .o-que-nos-oferecemos .informacoes p{
        text-align: center;
        width: 90%;
    }

    .compare-viagens p{
        text-align: center;
        width: 100%;
    }

    .compare-viagens .informacoes{
        width: 100%;
        text-align: center;
    }

    .compare-viagens a button{
        width: 50%;
    }
    
    .o-que-nos-oferecemos .informacoes a{
        width: 50%;
        text-align: center;
    }

    .entre-em-contato{
        flex-wrap: wrap;
    }
    .entre-em-contato .lado-esquerdo img{
        margin-bottom: 30px;
    }
    
    .entre-em-contato .lado-esquerdo, .entre-em-contato .lado-direito{
        width: 100%;
    }

    #menu-hamburger{
        display: block;
        width: 38px;
    }

    .icone-logout, .abreajuda{
        display: none !important;
    }

    header .topo .logo{
        width: 30%;
    }
}