/* Definição dos estilos para elementos da página*/

.form-lista-viagens {
    position: fixed; 
    width: 9%;
    height: 70%;
    top: 17%;
    left: 30px;
    background-color: #D9D9D9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align:center;
}

.form-mapa1 {
    position: fixed;
    width: 30%;
    height: 35%;
    top: 17%;
    left: 20%;
    background-color: transparent; /* Set background color to transparent */
    padding: 20px;
    border: 1px solid #000; /* Add thin black border */
    border-radius: 5px;
    box-shadow: none; /* Remove the shadow */
    text-align: center;
  }
  
  .form-mapa2 {
    position: fixed;
    width: 30%;
    height: 35%;
    top: 17%;
    left: 75%;
    transform: translateX(-50%);
    background-color: transparent; /* Set background color to transparent */
    padding: 20px;
    border: 1px solid #000; /* Add thin black border */
    border-radius: 5px;
    box-shadow: none; /* Remove the shadow */
    text-align: center;
  }
  

.form-info1 {
    position: fixed;
    width: 30%;
    height: 30%;
    top: 60%;
    left: 36.5%;
    transform: translateX(-50%);
    background-color: #D9D9D9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.form-info2{
  position: fixed; 
  width: 30%;
  height: 30%;
  top: 60%;
  left: 58.5%;
  background-color: #D9D9D9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align:center;
}


p {
        font-size: 14px;
}

.botao-ajuda {
    position: fixed;
    top: 20px;
    right: 40px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #4A67F0;
    color: #fff;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.links {
    margin-top: 30px;
    display: flex;
    position: fixed;    
    gap: 20px;
    left: 42%;
    justify-content: center;
}

.links a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.logotipo{
    
        width: 200px;
        height: 100px;
        position: absolute;
        top: 0;
        left: 1%;
        border: none; 
}

.download {
    margin-top: -2px;
    background-color: rgba(0, 91, 144, 0.3); 
    color: rgba(0, 91, 144, 1); 
    border-radius: 10px;
    padding: 3px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
body {
    font-family: 'Poppins';
}