/* Estilos da tela home */

.form-calendario {
  position: absolute;
  width: 15%;
  height: 10%;
  top: 20%;
  left: 2%;
  padding: 2%;
  border-radius: 5px;
  background: #FFFFFF;
  border: 1px solid #000000;
  text-align: center;
}

.form-viagens {
  position: absolute;
  width: 15%;
  height: 30%;
  top: 40%;
  left: 2%;
  background-color: #c2c0c090;
  padding: 2%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.informacoes-viagem {
  position: absolute;
  width: 50%;
  height: 10%;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  padding: 2%;
  border-radius: 5px;
  background: #FFFFFF;
  border: 1px solid #000000;
  text-align: center;
}

.form-grafico {
  position: absolute;
  width: 50%;
  height: 20%;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #c2c0c090;
  padding: 2%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.form-mapa {
  position: absolute;
  width: 50%;
  height: 10%;
  top: 72%;
  left: 25%;
  background-color: #c2c0c090;
  padding: 2%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

p {
  font-size: 1.4vw;
}

.help-button {
  position: fixed;
  top: 1.5%;
  right: 3%;
  width: 3.5%;
  height: 3.5%;
  border-radius: 50%;
  background-color: #4A67F0;
  color: #fff;
  font-size: 1.4vw;
  border: none;
  cursor: pointer;
}

.links {
  margin-top: 4%;
  display: flex;
  position: absolute;
  gap: 2%;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
}

.links a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.lumi {
  width: 20%;
  height: 10%;
  position: absolute;
  top: 0;
  left: 1%;
  border: none;
}
