header{
    width: 100%;
}

.topo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    box-sizing: border-box;
}

header .topo .logo{
    width: 9%;
}

header .topo .logo img {
    width: 100%;
}

nav{
    width: 100%;
}

nav ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: #52B7E3;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    padding: 20px;
}

nav ul li a:hover{
    text-decoration: underline
}

header .topo .icone-logout{
    cursor: pointer;
}

header .topo .icone-logout img{
    width: 7%;
    margin-left: 80%;
}

header .tittle{
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    color: #171919;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .tittle h1{
    margin-top: 100px;
    width: 60%;
}