.form-calendario {
    position: fixed; 
    width: 9%;
    height: 12%;
    top: 20%;
    left: 2.5%;
    background-color: #f2f2f2;
    padding: 1.5%;
    border-radius: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align:center;
    }
    
    .form-viagens {
    position: fixed;
    width: 9%;
    height: 40%;
    top: 45%;
    left: 2.5%;
    background-color: #c2c0c090;
    padding: 1.5%;
    border-radius: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align:center;
    }
    
    .informacoes-viagem {
    position: fixed;
    height: 10%;
    width: 70%;
    top: 20%;
    left: 55%;
    transform: translateX(-50%);
    background-color: #f2f2f2;
    background: #FFFFFF;
    border: 1px solid #000000;
    padding: 1.5%;
    text-align: center;
    border-radius: 10px;
    }
    
    .filtro {
    position: fixed;
    height: 10%;
    width: 71%;
    top: 38%;
    left: 55%;
    transform: translateX(-50%);
    padding: 1%;
    border-radius: 10px;
    background: #FFFFFF;
    border: 1px solid #000000;
    }
    
    .form-imagens {
    position: fixed;
    width: 30%;
    height: 35%;
    top: 55%;
    right: 29%;
    transform: translateX(-50%);
    background-color: #c2c0c090;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    }
    
    .form-exportar{
    position: fixed;
    width: 20%;
    height: 35%;
    top: 55%;
    right: 0%;
    transform: translateX(-50%);
    background-color: #c2c0c090;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    }
    
    p {
    font-size: 14px;
    }
    
    .help-button {
        position: fixed;
        top: 20px;
        right: 40px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #4A67F0;
        color: #fff;
        font-size: 20px;
        border: none;
        cursor: pointer;
    }
    
    .links {
        margin-top: 10px;
        display: flex;
        position: fixed;    
        gap: 20px;
        left: 42%;
        justify-content: center;
    }
    
    .links a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    }
    .lumi{
    
        width: 200px;
        height: 100px;
        position: absolute;
        top: 0;
        left: 1%;
        border: none; 
}

.download {
    margin-top: -2px;
    background-color: rgba(0, 91, 144, 0.3); 
    color: rgba(0, 91, 144, 1); 
    border-radius: 10px;
    padding: 3px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
